body {
  background-color: black;
}

#section-1 {
  /* background-color: #7A86B6; */
  margin-top: 50px;
}

.container-fluid {
  margin-bottom: 10px;
}

/* Left side containing songpic and audio */

.leftblock {
  text-align: center;
}

.songpic {
  margin-top: 50px;
  width: 539px;
  height: 479px;
  padding: 5%;
  background-color: transparent;
  object-fit: cover;
}

audio {
  width: 500px;
  height: 70px;
  margin-bottom: 50px;
  padding: 1%;
  margin-top: 20px;
  background-color: transparent;
}

/* Right Side containing song names */
.songlist {
  margin-top: 50px;
  margin-bottom: 62px;
  padding: 1.5% 1.5% 2.5% 5%;
  background-color: transparent;
  text-align: center;
  height: 600px;
  overflow-y: scroll;
}

.list-group-item {
  background-color: transparent;
  color: white;
}

/* Footer */

#footer {
  background-color: black;
  padding: 30px;
}
h1 {
  font-size: 1rem;
}
hr.line {
  border: 1px solid white;
}

/* Design For ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*For Image inside List in front of song */
.imgdiv > img {
  height: 60px;
}
.listSong {
  border-bottom: 2px solid white;
}
/* Name of Song*/
.namediv {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.3rem;
  text-overflow: ellipsis;
}
a.song {
  text-decoration: none;
}
